.gw_guess guess
	.gw_header header
		.gw_container container
			h1 How well do you know your fellow Hacker Reactorians?
			p
				| Put the pedal to the metal, and realize how many people you don't know

	.gw_game game
		.gw_scorecard score
		.gw_faces face
		.gw_menu menu